@use "uswds-core" with (
  $theme-show-notifications: false,
  $theme-show-compile-warnings: false,
  $theme-font-path: "../fonts",
  $theme-font-type-mono: false,
  $theme-font-type-sans: "public-sans",
  $theme-font-type-serif: false,
  $theme-font-role-heading: "sans",
  $theme-font-role-body: "sans",
  $theme-font-role-ui: "sans",
  $theme-font-role-alt: "sans",
  $theme-font-weight-light: 300,
  $theme-font-weight-normal: 400,
  $theme-font-weight-medium: false,
  $theme-font-weight-semibold: 600,
  $theme-font-weight-bold: 700,
  $theme-font-weight-heavy: false,
  $theme-generate-all-weights: false,
  $theme-body-background-color: "gray-cool-80",
  $theme-text-color: "white",
  $theme-text-reverse-color: "ink",
  $theme-color-primary: "blue-cool-30v",
  $theme-color-primary-dark: "blue-cool-20v",
  $theme-color-primary-darker: "blue-cool-10v",
  $theme-link-color: "blue-cool-20v",
  $theme-link-visited-color: "violet-20v",
  $theme-link-hover-color: "blue-cool-10v",
  $theme-link-active-color: "white",
  $theme-focus-color: "blue-40v",
  $theme-focus-offset: 0,
  $theme-grid-container-max-width: "widescreen",
  $theme-header-max-width: "widescreen",
  $theme-footer-max-width: "widescreen"
);
